<html>
  <head>
    <title>Hee Haw</title>
    <script src="lib/jquery-1.7.1.min.js"></script>
    <script src="lib/ejs_production.js"></script>
    <script src="scripts/EventStore.js"></script>
    <script src="scripts/Inventory.js"></script>
    <script type="text/javascript">
      var HeeHawApplication = function(){
        var self = this;
        var inventory = new Inventory();
        var event_store = new EventStore();
        event_store.on_hydration = inventory.hydrate;
        inventory.event_store = event_store;

        self.show_inventory_report = function(){
          new EJS({url: "templates/inventory_report.ejs"}).update("application", {});

          $("#return_home").click(function(){
            self.show_home();
          });

          inventory.run_report(function(inventory_line_item){
            var line_item = {
              item_name: inventory_line_item.name,
              crossroads_quantity: inventory_line_item.crossroads_quantity,
              pathways_quantity: inventory_line_item.pathways_quantity
            };

            var line_item_html = new EJS({url: "templates/inventory_line_item.ejs"}).render(line_item);
            $("#report tbody").append(line_item_html);
          });
        };

        self.show_inventory_items = function(){
          inventory.remove_all_subscribers();

          inventory.publish_events_to("view", function(inventory_item){
            if(inventory_item.type === "inventory item added"){
              var added_inventory_item_view = new EJS({url: "templates/added_inventory_item.ejs"}).render(inventory_item);
              $("#added_inventory_items").prepend(added_inventory_item_view);
            }
          }, "inventory item added");

          new EJS({url: "templates/add_inventory_items.ejs"}).update("application", {});

          $("#add_item_button").click(function(){
            var item_name = $("#item_name").val();
            inventory.add_inventory_item(item_name);
          });

          $("#return_home").click(function(){
            self.show_home();
          });

          event_store.hydrate();
        };

        self.show_take_inventory_form = function(){
          new EJS({url: "templates/inventory_form.ejs"}).update("application", {});

          inventory.remove_all_subscribers();

          inventory.publish_events_to("view", function(inventory_item){
            var element_id = "pathways_qty_" + inventory_item.item_id;
            $("#" + element_id).val(inventory_item.new_quantity);
          }, "pathways quantity changed");

          inventory.publish_events_to("view", function(inventory_item){
            var element_id = "crossroads_qty_" + inventory_item.item_id;
            $("#" + element_id).val(inventory_item.new_quantity);
          }, "crossroads quantity changed");

          inventory.publish_events_to("view", function(inventory_item){
            var added_inventory_item_view = new EJS({url: "templates/inventory_item.ejs"}).render(inventory_item);
            $("#inventory_items").prepend(added_inventory_item_view);
            $("#crossroads_qty_" + inventory_item.item_id).change(function(){
              inventory.quantity_changed_for_crossroads(inventory_item.item_id, $(this).val());
            });
            $("#pathways_qty_" + inventory_item.item_id).change(function(){
              inventory.quantity_changed_for_pathways(inventory_item.item_id, $(this).val());
            });
          }, "inventory item added");

          $("#return_home").click(function(){
            self.show_home();
          });

          event_store.hydrate();
        };

        self.show_home = function(){
          new EJS({url: "templates/home.ejs"}).update("application", {});

          $("#add_inventory_items_button").click(function(){
            self.show_inventory_items();
          });

          $("#take_inventory_button").click(function(){
            self.show_take_inventory_form();
          });

          $("#show_report_button").click(function(){
            self.show_inventory_report();
          });
        };

        self.start_up = function(){
          self.show_home();
        };
      };

      $(document).ready(function(){
        new HeeHawApplication().start_up();
      });
    </script>
  </head>
  <body>
    <div id="application"></div>
  </body>
</html>