<a id="return_home">Home</a>
<div id="add_inventory_item">
 <ul>
  <li>Item Name: <input id="item_name" type="text" value="" /></li>
  <li><input type="radio" name="school" value="Crossroads" checked /> Crossroads <input type="radio" name="school" value="Pathways" /> Pathways</li>
  <li><input id="add_item_button" type="button" value="Add Item" /></li>
 </ul>
</div>
<ul id="added_inventory_items">
</ul>