<li>
  Item Name: <%= item_name %><br />
  Crossroads Qty: <input id="crossroads_qty_<%= item_id %>" type="text" value="0" /><br />
  Pathways Qty: <input id="pathways_qty_<%= item_id %>" type="text" value="0" /><br />
  <input type="button" value="Update Inventory" />
</li>